body {
	background-color: gray;
	margin: 0px;
}

/*container*/
#container {
	position: relative;
	margin: auto;
	background-color: rgba(131,3,0,1);
	width: 1330px;
	height: 700px;
	box-shadow: 0px 2px 5px black;
}

#container1 {
	position: relative;
	margin: auto;
	background-color: rgba(131,3,0,1);
	width: 1330px;
	height: 700px;
	box-shadow: 0px 2px 5px black;
}

/*cover*/
#cover {
	position: relative;
	margin: auto;
	width: 1330px;
	height: 175px;
	background-color: rgba(131,3,0,1);
}

.logo	 {
	position: absolute;
	top: 15px;
	left: 585px;
}

/*header*/
#header {
	position: relative;
	margin: auto;
	background-color: rgba(131,3,0,1);
	width: 1330px;
	height: 50px;
}


/*header menu*/
#header_menu {
	position: absolute;
	height: 50px;
	font-size: 100%;
	font-family: Tahoma;
}

.home_button {
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: white;
	padding-top: 15px;
	height: 35px;
	width: 150px;
	opacity: .5;
}

.home_button1 {
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
	color: white;
	height: 35px;
	width: 150px;
	padding-top: 12px;
	font-size: 125%;
}

.home_button:hover {
	transition: all 0.2s ease;
	z-index: 1;
	padding-top: 12px;
	font-size: 125%;
	opacity: 1;
}

.settings_button {
	position: absolute;
	left: 150px;
	top: 0px;
	text-align: center;
	color: white;
	padding-top: 15px;
	height: 35px;
	width: 150px;
	opacity: .5;
}

.settings_button1 {
	position: absolute;
	left: 150px;
	top: 0px;
	text-align: center;
	color: white;
	height: 35px;
	width: 150px;
	padding-top: 12px;
	font-size: 125%;
}

.settings_button:hover {
	transition: all 0.2s ease;
	z-index: 1;
	padding-top: 12px;
	font-size: 125%;
	opacity: 1;
}

.help_button {
	position: absolute;
	left: 300px;
	top: 0px;
	text-align: center;
	color: white;
	padding-top: 15px;
	height: 35px;
	width: 150px;
	opacity: .5;
}

.help_button1 {
	position: absolute;
	left: 300px;
	top: 0px;
	text-align: center;
	color: white;
	height: 35px;
	width: 150px;
	padding-top: 12px;
	font-size: 125%;
}

.help_button:hover {
	transition: all 0.2s ease;
	z-index: 1;
	padding-top: 12px;
	font-size: 125%;
	opacity: 1;
}

.about_button {
	position: absolute;
	left: 450px;
	top: 0px;
	text-align: center;
	color: white;
	padding-top: 15px;
	height: 35px;
	width: 150px;
	opacity: .5;
}

.about_button1 {
	position: absolute;
	left: 450px;
	top: 0px;
	text-align: center;
	color: white;
	height: 35px;
	width: 150px;
	padding-top: 12px;
	font-size: 125%;
}

.about_button:hover {
	transition: all 0.2s ease;
	z-index: 1;
	padding-top: 12px;
	font-size: 125%;
	opacity: 1;
}


/*header search*/
#header_search {
	position: absolute;
	height: 50px;
	width: 282px;
	top: 0px;
	left: 1035px;
	overflow: hidden;
}

.search_bar {
	position: absolute;
	top: 12px;
	width: 255px;
	height: 20px;
	border-style: solid;
	border-color: rgba(131,3,0,1);
	text-indent: 5px;
	font-style: italic;
	border-radius: 8px;
}

.search_button {
	position: absolute;
	top: 14px;
	left: 260px;
	width: 22px;
	height: 22px;
	border-radius: 6px;
}

/*Log In*/
#login {
	position: relative;
	margin: auto;
	top: 50px;
	height:325px;
	width: 445px;
	color: black;
	font-family: Tahoma;
	overflow: hidden;
}

.usertext {
	position: absolute;
	top: 30px;
	left: 28px;
	color: rgba(131,3,0,1);
}

.user {
	position: absolute;
	width: 382px;
	right: 30px;
	top: 55px;
	height: 30px;
	border-style: solid;
	border-color: rgba(131,3,0,1);
	font-size: 15px;
	border-radius: 10px;
	font-style: italic;
	text-align: center;
}

.passtext {
	position: absolute;
	top: 125px;
	left: 28px;
	color: rgba(131,3,0,1);
}

.pass {
	position: absolute;
	width: 382px;
	right: 30px;
	top: 150px;
	height: 30px;
	border-style: solid;
	border-color: rgba(131,3,0,1);
	font-size: 15px;
	border-radius: 10px;
	font-style: italic;
	text-align: center;
}

.forgot {
	position: absolute;
	right: 30px;
	top: 188px;
	font-size: 14px;
}

.forgot a {
	text-decoration: none;
	color: rgba(131,3,0,1);
}

.login_button {
	position: absolute;
	top: 250px;
	left: 170px;
	width: 100px;
	height: 40px;
	font-size: 15px;
	color: rgba(131,3,0,1);
	background-color: white;
	border-style: solid;
	border-color: rgba(131,3,0,1);
}

/*contents*/
#contents {
	position: relative;
	margin: auto;
	background-color: white;
	width: 1330px;
	height: 475px;
}

#contents1 {
	position: relative;
	margin: auto;
	background-color: white;
	width: 1330px;
	height: 600px;
}

/*footer*/
#footer  {
	position: relative;
	margin: auto;
	background-color: rgba(131,3,0,1);
	text-align: center;
	color: white;
	font-family: Tahoma;
	padding-top: 15px;
	width: 1330px;
	height: 35px;
}