body {
    margin: auto;
    background-color: gray;
}

.body {
    box-shadow: 0px 2px 10px 2px;
    position: relative;
    margin: auto;
    width: 1300px;
}

.navbar {
    position: relative;
    margin: auto;
    height: 40px;
    width: 1300px;;
    top: 0px;
    background-color: firebrick;
    font-family: Arial;
    z-index: 1;
}

.menu   {
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar a {
    float: left;
    font-size: 11px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.cover {
    position: relative;
    width: 1300px;;
    height: 100px;
    margin: auto;
    left: 0px;
    top: 0px;
    background-color: maroon;
    z-index: 1;
}

.logo {
    position: absolute;
    left: 590px;
}

.dropdown_content {
    float: left;
    overflow: hidden;
}

.dropdown_content .dropbutton {
    font-size: 11px;    
    border: none;
    outline: none;
    color: white;
    width: 150px;
    height: 40px;
    background-color: firebrick;
}

.dropdown_content:hover .dropbutton {
    background-color: brown;
}

.dropdown_contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 1px 0px gray;
    width: 150px;
    
    z-index: 1;
}

.dropdown_contents a {
    float: none;
    color: black;
    padding: 14px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown_contents a:hover {
    background-color: #ddd;
}

.dropdown_content:hover .dropdown_contents {
    display: block;
}

/*Search*/
.search {
    position: absolute;
    right: 6px;
    overflow: hidden;
}

.search_bar {
	position: relative;
	top: -1px;
    right: 0px
	width: 255px;
	height: 20px;
	border: solid 1px maroon;
	text-indent: 5px;
	font-style: italic;
	border-radius: 8px;
}

.search_button {
	position: relative;
	top: 7px;
	right: 0px;
	width: 23px;
	height: 23px;
    border: solid 1px maroon;
	border-radius: 6px;
}


/*Content*/
#managetext {
    position: relative;
    width: 1300px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    padding: 15px 0px;
}
#content_con_login {
	position: relative;
	margin: auto;
	width: 1300px;
	box-shadow: 0px 2px 5px black;
}

#content_login {
	position: relative;
	margin: auto;
    padding: 0px 0px 75px;
	width: 1300px;
	background-color: white;
}

#content_login table {
    font-family: Arial;
    font-size: 13px;
}

#content_login table tr th {
    padding: 0px 30px;
    font-size: 15px;
    background-color: maroon;
    color: white;
}

#content_login table tr td {
    background-color: #f9f9f9;
}

#content_login table tr td:hover{
    background-color: #ddd;
}

#content_login table tr a {
    text-decoration: none;
}

#addrecord {
    position: relative;
    margin: auto;
    top: 20px;
    width: 50px;
    font-size: 13px;
    font-family: Arial;
    background-color: maroon;
    padding: 15px 40px;
    text-align: center;
}

#addrecord:hover {
    background-color: firebrick;
}

.new{
    text-decoration: none;
    color: white
}

/*Footer*/
#footer {
	position: relative;
	bottom: 0;
	margin: auto;
	height: 26px;
	width: 1300px;
	background-color: maroon;
	text-align: center;
	padding-top: 14px;
	font-size: 12px;
	color: white;
	font-family: Arial;
}